trigger:
- main
- develop
- 'release/**'
- 'hotfix/**'


pool:
  vmImage: 'windows-latest'

#variables:
#- group: nils-org-main

steps:
- task: NuGetToolInstaller@1

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1.x'

- task: Cache@2.198.0
  inputs:
    key: '"$(Agent.OS)" | recipe.cake'
    path: 'tools'

- task: Cake@2
  inputs:
    script: 'recipe.cake'
    target: 'CI'
    verbosity: 'Diagnostic'
    Bootstrap: true
    Version: '0.38.4'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'BuildArtifacts\Packages\NuGet'
    ArtifactName: 'drop'
    publishLocation: 'Container'